@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn hàng đã được xác nhận</h2>
<h3>Cám ơn đã mua hàng tại cửa hàng quần áo  của chúng tôi, đơn hàng sẽ được giao trong thời gian sớm nhất</h3>

<p>
    @Html.ActionLink("Về trang chủ", "ListSP", "MatHang")
</p>

