
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mặt hàng mới</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <p>
            Tên loại mặt hàng:
            @Html.TextBox("tenloai")<font color="red">@ViewData["Error"]</font>
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back", "LoaimhAdmin","LoaiMatHangAdmin")
</div>

